@charset "utf-8";
/* CSS Document */
body {
	background-image: url(https://i.pinimg.com/originals/69/4c/86/694c86eaff915b7a32af81e1baa344ac.jpg);
	background-size: cover;
}
h1 {
	text-decoration:overline;
	font-family: 'Faster One', cursive;
}
h2 {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	width: 320px;
	color: green;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
img {
	width: 300px;
	height: 200px;
	margin: 10px;
	transition: all 1s;
}
img:hover {
	transform: scale(1.1);
}
p{
	font-size: 25px;
	line-height: 2;
	font-family: 'Oswald', sans-serif;
	background-color: rgba(255, 255, 255, 0.5);
	border: 5px solid black;
}
.giphy-embed {
	display: block;
	margin: auto;
}
hr {
	opacity: 0;
}
nav {
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
a {
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a:hover {
	background-color: #111;
}
.active {
background-color: blue;
}
footer {
	text-align: center;
	color: green;
}